h1 {
  color: tomato;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

#rgb {
  color: rgb(100, 100, 50);
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}

#hex {
  color: #3e21b1;
  font-family: 'Courier New', Courier, monospace;
}

#outros {
  color: hsl(343, 68%, 46%);
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: 5px dashed black;
}

p strong {
  font-size: 1.5em;
  font-style: italic;
  text-decoration: line-through;
  letter-spacing: 5px;
  border: 5px dashed hotpink;
}

#texto {
  text-align: justify;
  line-height: 1.5;
  word-spacing: 20px;
}

.box {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  width: 50%;
  height: 200px;
  padding: 30px 20px 40px 50px;
  border: 2px solid purple;
  border-radius: 10px;
  margin: 10px;
  overflow: scroll;
  box-sizing: border-box;
}